<form [formGroup]="service.studentListInlineEditFormGroup" class="normal-form" (submit)="onSubmit()" autocomplete="off">
   <input type="hidden" formControlName="id">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="firstName" matInput placeholder="First Name*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="lastName" matInput placeholder="Last Name*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                
                <mat-form-field>
                    <input formControlName="phoneNumber" matInput placeholder="Phone Number">
                    <mat-error> 10 numbers required</mat-error>
                </mat-form-field>
                <div class="add-bottom-padding">
                    <mat-form-field>
                        <mat-select formControlName="gender" placeholder="Gender">
                            <ng-container *ngFor="let gender of genders">
                                <mat-option value="{{gender}}">{{gender}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.studentListInlineEditFormGroup.invalid"  >Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()" >Clear</button>
                </div> 
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
